/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}
