// SCREEN SIZES
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$breakpoint-gap: 0.02px;

// MEDIA QUERIES
$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$desktop-only: "(min-width: #{$breakpoint-desktop})";
$not-mobile: "(min-width: #{$breakpoint-tablet})";
$not-desktop: "(max-width: #{$breakpoint-desktop - $breakpoint-gap})";

// FONTS OPTIONS
$font-family-basic: "Lato", sans-serif;
$font-family-accent: "Oswald", sans-serif;

// COLORS
$color-bg-basic: #ffffff;
$color-basic_grey: #f2f2f2;
$color-light_grey: #ececec;
$color-special_grey: #cdcdcd;
$color-special_grey-2: #666666;
$color-special_dark-grey: #444444;
$color-special_dark-grey-2: #222222;
$color-special_dark-grey-3: #111111;
$color-text-strong: #000000;
$color-status_error: #ff8282;
$color-accent: #68b738;

// TRANSITION
$transition-time-basic: 0.3s;
$transition-timing-function-basic: ease-out;
