.additions__title {
  --side-offset: 20px;

  position: relative;
  margin-top: 0;
  margin-bottom: 36px;

  width: fit-content;
  max-width: 100%;

  line-height: 24px;

  box-shadow:
    var(--side-offset) 0 $color-bg-basic,
    calc(0px - var(--side-offset)) 0 $color-bg-basic;

  background-color: $color-bg-basic;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 15px;
    right: 0;

    width: 100vw;
    height: 2px;

    background-color: $color-accent;
    box-shadow: 100vw 0 0 $color-accent;

    @media #{$on-tablet-desktop} {
      top: 24px;
    }
  }

  @media #{$on-tablet} {
    --side-offset: 0px;

    margin-bottom: 83px;

    padding-left: 40px;
    padding-right: 40px;
    line-height: 36px;
  }

  @media #{$on-desktop} {
    --side-offset: 40px;

    margin-bottom: 80px;

    line-height: 36px;
  }
}

.additions__wrapper {
  display: flex;
  flex-direction: column;

  @media #{$on-desktop} {
    flex-direction: row;
    align-items: stretch;
    gap: 80px;
  }
}

.additions__list {
  @include clear-list();
  margin-bottom: 35px;

  @media #{$on-tablet} {
    margin-bottom: 70px;
  }

  @media #{$on-desktop} {
    margin-bottom: 0;
  }
}

.additions__item {
  margin-top: -1px;

  width: 100%;

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media #{$on-tablet} {
    border: 1px solid #cdcdcd;
  }

  @media #{$on-desktop} {
    width: fit-content;
  }
}
