.button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;

  font-family: $font-family-accent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-bg-basic;

  background-color: $color-accent;

  &--secondary {
    color: $color-special_dark-grey;
    background-color: $color-basic_grey;
  }
}
