.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;

  font-family: $font-family-accent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-bg-basic;
  word-break: break-word;

  background-color: $color-accent;

  cursor: pointer;
  transition:
    background-color $transition-basic,
    color $transition-basic;

  &:hover {
    background-color: $color-accent-2;
  }

  &:active {
    background-color: $color-accent-2;
    color: rgba($color-bg-basic, 0.3);
  }

  &:focus-visible {
    outline: 2px solid $color-text-strong;
    outline-offset: 4px;
  }

  &:disabled,
  &:not([href]) {
    color: $color-basic_grey;
    background-color: $color-special_grey;
    pointer-events: none;
  }

  &--secondary {
    color: $color-special_dark-grey;
    background-color: $color-basic_grey;

    &:hover {
      color: $color-special_dark-grey;
      background-color: $color-special_grey;
    }

    &:active {
      color: $color-special_dark-grey;
      background-color: $color-special_grey;
    }

    &:disabled,
    &:not([href]) {
      color: $color-basic_grey;
    }
  }
}
