// .card {

// }

.card__name {
  margin: 0;

  font-family: $font-family-accent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-special_dark-grey-2;

  @media screen and #{$on-tablet-desktop} {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
  }

  &--addition {
    line-height: 16px;
    text-align: left;

    @media screen and #{$on-tablet-desktop} {
      line-height: 20px;
    }
  }

  &--show-more {
    text-align: center;
    color: $color-special_dark-grey-3;
  }
}

.card__link {
  color: $color-special_dark-grey-2;
}

.card__features {
  margin: 0;
}

.card__feature-item {
  font-size: 12px;
  line-height: 16px;

  @media screen and #{$on-tablet-desktop} {
    font-size: 16px;
    line-height: 20px;
  }

  &--addition {
    font-size: 14px;
    line-height: 14px;

    @media screen and #{$on-tablet-desktop} {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.card__feature-key {
  margin: 0;
}

.card__feature-value {
  margin: 0;
}

.card__text {
  margin: 0;

  font-size: 12px;
  line-height: 16px;

  @media screen and #{$on-tablet-desktop} {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}
