.catalog__title {
  margin-top: 0;
  margin-bottom: 40px;

  @media #{$on-tablet-desktop} {
    margin-bottom: 165px;
  }
}

.catalog__list {
  @include clear-list();

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0 30px;

  @media #{$on-tablet} {
    gap: 141px 60px;
  }

  @media #{$on-desktop} {
    gap: 144px 80px;
  }
}

.catalog__item {
  flex-basis: 230px;
  flex-shrink: 0;
  flex-grow: 1;

  @media #{$on-mobile} {
    position: relative;

    &::before, after {
      content: "";
      position: absolute;
      left: calc(0px - var(--side-padding));
      right: calc(0px - var(--side-padding));

      height: 1px;
      background-color: #ebebeb;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: 100%;
    }
  }
}
