.example {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: $color-light_grey;

  @media #{$on-tablet} {
    padding-top: 0;
    padding-bottom: 101px;
    background: linear-gradient(to top, $color-light_grey 462px, transparent 462px);
  }

  @media #{$on-desktop} {
    padding-top: 0;
    padding-bottom: 75px;
    background: linear-gradient(to bottom, transparent 136px, $color-light_grey 136px);
  }
}

.example__container {
  display: grid;
  justify-items: center;
  gap: 20px;

  @media #{$on-tablet} {
    gap: 99px;
  }

  @media #{$on-desktop} {
    grid-template-columns: 570px 570px;
    justify-content: space-between;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;

  line-height: 40px;

  @media #{$on-tablet} {
    margin-bottom: 60px;

    line-height: 60px;
  }

  @media #{$on-desktop} {
    margin-bottom: 146px;

    line-height: 60px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 0;

  &:last-of-type {
    margin-bottom: 20px;

    @media #{$on-tablet} {
      margin-bottom: 55px;
    }

    @media #{$on-desktop} {
      margin-bottom: 69px;
      max-width: 440px;
    }
  }
}

.example__stats {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px 32px;

  @media #{$on-tablet} {
    justify-content: space-between;
    gap: 55px 43px;
  }

  @media #{$on-desktop} {
    justify-content: flex-start;
    gap: 55px 43px;
  }
}

.example__stats-item {
  min-width: 120px;
  max-width: 200px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  &--summary {
    width: 100%;
    min-width: none;
    max-width: none;

    flex-direction: row;
    justify-content: center;
    gap: 4px;

    @media #{$on-tablet} {
      margin-left: auto;

      flex-direction: column;

      width: fit-content;
      flex-direction: column;
      align-items: flex-end;
    }

    @media #{$on-desktop} {
      gap: 63px;
      justify-content: flex-start;
    }
  }
}

.example__stats-number {
  margin: 0;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  border: 1px solid $color-special_grey;
  border-radius: 3px;

  font-family: $font-family-accent;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-strong;

  @media #{$on-tablet-desktop} {
    min-width: 162px;

    font-size: 30px;
    line-height: 37px;
  }

  &--summary {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    width: auto;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-strong;

    @media #{$on-tablet-desktop} {
      font-size: 20px;
    }
  }
}

.example__stats-description {
  margin-top: -10px;
  margin-bottom: 0;
  margin-left: 18px;
  margin-right: 18px;

  padding-left: 14px;
  padding-right: 14px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: $color-special_dark-grey;

  background-color: $color-light_grey;

  @media #{$on-tablet} {
    width: calc(100% - 10px * 2);

    font-size: 14px;
    line-height: 14px;
    background-color: $color-bg-basic;
  }

  @media #{$on-desktop} {
    width: calc(100% - 10px * 2);

    font-size: 14px;
    line-height: 14px;
  }

  &--summary {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    width: auto;

    font-family: $font-family-accent;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-text-strong;

    background-color: transparent;

    @media #{$on-tablet-desktop} {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.example__stats-description-break {
  &::after {
    content: "\A";
    white-space: pre;
  }
}

.example__slider {
  align-self: center;
  width: 280px;
  flex-shrink: 0;

  @media #{$on-tablet-desktop} {
    width: 560px;
  }
}
