.example {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: $color-light_grey;

  @media #{$on-tablet} {
    padding-bottom: 101px;
  }

  @media #{$on-desktop} {
    padding-bottom: 75px;
  }

  @media #{$on-tablet-desktop} {
    padding-top: 0;
    background: linear-gradient(to top, $color-light_grey 462px, transparent 462px);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media #{$on-desktop} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;

  line-height: 100%;

  @media #{$on-tablet} {
    margin-bottom: 60px;
  }

  @media #{$on-desktop} {
    margin-bottom: 146px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 20px;

  @media #{$on-tablet} {
    margin-bottom: 55px;
  }

  @media #{$on-desktop} {
    margin-bottom: 69px;
  }
}

.example__stats {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 32px;
}

.example__stats-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  &--summary {
    flex-direction: row;
    gap: 4px;
  }
}

.example__stats-number {
  margin: 0;

  padding-top: 14px;
  padding-bottom: 17px;
  width: 124px;
  border: 1px solid $color-special_grey;
  border-radius: 3px;

  font-family: $font-family-accent;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-strong;

  @media #{$on-tablet-desktop} {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }

  &--summary {
    padding-top: 0;
    padding-bottom: 0;

    width: fit-content;
    border: 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-strong;

    @media #{$on-tablet-desktop} {
      font-size: 20px;
    }
  }
}

.example__stats-description {
  margin-top: -10px;
  margin-bottom: 0;

  width: 81px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  color: $color-special_dark-grey;

  background-color: $color-light_grey;

  @media #{$on-tablet-desktop} {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-bg-basic;
  }

  &--summary {
    margin-top: 0;

    width: fit-content;

    font-family: $font-family-accent;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-text-strong;

    background-color: transparent;

    @media #{$on-tablet-desktop} {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.example__slider {
  align-self: center;
}
