.footer {
  background-color: $color-basic_grey;
}

.footer__copyright-link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: $color-special_dark-grey;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;

    background-color: $color-special_grey-2;
    mask-image: url("../../images/icons/stack.svg#html-academy-logo");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
