// .form {

// }

.form__title {
  line-height: 26px;
}

.form__list {
  @include clear-list();
}

.form__item {
  display: flex;
}

.form__label {
  order: -1;

  font-family: $font-family-accent;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $screen-width-tablet) {
    font-size: 20px;
    line-height: normal;
  }
}

input[required] + .form__label::after {
  content: "*";
}

.form__input {
  font-family: $font-family-accent;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $screen-width-tablet) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__note {
  margin: 0;

  line-height: 16px;
  color: $color-text-strong;

  @media (min-width: $screen-width-tablet) {
    font-size: 16px;
  }
}
