// .form {

// }

.form__title {
  padding: 0;
  line-height: 26px;

  @media screen and #{$on-tablet-desktop} {
    line-height: 36px;
  }
}

.form__list {
  @include clear-list();
}

.form__item {
  display: flex;
}

.form__label {
  order: -1;

  font-family: $font-family-accent;
  font-size: 16px;
  text-transform: uppercase;

  @media screen and #{$on-tablet-desktop} {
    font-size: 20px;
    line-height: normal;
  }

  &--required {
    &::after {
      content: "*";
    }
  }
}

.form__input {
  font-family: $font-family-accent;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special_dark-grey;

  @media screen and #{$on-tablet-desktop} {
    font-size: 20px;
    line-height: normal;
  }
}

.form__button {
  @media screen and #{$on-tablet-desktop} {
    font-size: 20px;
  }
}

.form__note {
  margin: 0;

  line-height: 16px;
  color: $color-text-strong;

  @media screen and #{$on-tablet-desktop} {
    font-size: 16px;
  }
}
