.goals__list {
  @include clear-list();

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media #{$on-tablet} {
    gap: 30px;
  }

  @media #{$on-desktop} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
}

.goals__item {
  --circle-radius: 50px;

  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  width: 100%;

  display: grid;
  grid-template-areas:
    "icon title"
    "text text"
    "link link";
  grid-template-columns: var(--circle-radius) 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0 20px;

  background-color: $color-basic_grey;

  @media #{$on-tablet} {
    --circle-radius: 200px;

    padding-top: 77px;
    padding-right: 63px;
    padding-bottom: 57px;
    padding-left: 52px;

    grid-template-areas:
      "title icon"
      "text icon"
      "link icon";
    grid-template-columns: 1fr var(--circle-radius);
    gap: 0 50px;
  }

  @media #{$on-desktop} {
    --circle-radius: 100px;

    padding-top: 47px;
    padding-right: 61px;
    padding-bottom: 57px;
    padding-left: 52px;

    width: 570px;
    flex-grow: 1;

    gap: 0 62px;
  }
}

.goals__title {
  grid-area: title;
  margin-top: 0;
  margin-bottom: 0;

  align-self: center;

  word-break: break-word;
}

.goals__description {
  grid-area: text;
  margin-top: 22px;
  margin-bottom: 14px;

  overflow-wrap: break-word;
  color: $color-special_dark-grey;

  @media #{$on-mobile} {
    padding-bottom: 23px;
    border-bottom: 1px solid $color-light_grey-2;
  }

  @media #{$on-tablet} {
    margin-top: 24px;
    margin-bottom: 52px;

    color: $color-text-strong;
  }

  @media #{$on-desktop} {
    margin-top: 39px;
    margin-bottom: 27px;

    color: $color-text-strong;
  }
}

.goals__text {
  margin-top: 0;
  margin-bottom: 0;
}

.goals__link {
  grid-area: link;
  align-self: self-end;

  width: fit-content;
  max-width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;

  font-family: $font-family-accent;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  word-break: break-word;
  color: $color-text-strong;

  cursor: pointer;
  transition: opacity $transition-basic;

  &:hover {
    &::after {
      background-position: right center;
    }
  }

  &:active {
    opacity: 0.2;
  }

  &:focus-visible {
    outline: 2px solid $color-text-strong;
    outline-offset: 4px;
  }

  @media #{$on-tablet-desktop} {
    font-size: 20px;
    gap: 25px;
  }

  &::after {
    content: "";

    width: 32px;
    height: 12px;
    flex-shrink: 0;

    background-image: url("../../images/icons/stack.svg#arrow");
    background-size: cover;
    background-position: right 8px center;
    background-repeat: no-repeat;

    transition: background-position $transition-basic;
  }
}

.goals__icon {
  grid-area: icon;
  position: relative;
  align-self: center;

  width: var(--circle-radius);
  height: var(--circle-radius);

  border-radius: 50%;
  background-color: $color-accent;

  &::after {
    content: "";
    position: absolute;

    width: var(--cat-width);
    height: var(--cat-height);

    background-image: var(--url-to-vector);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    top: calc(50% + var(--vertical-shift, 0px));
    left: calc(50% + var(--horizontal-shift, 0px));
    transform: translate(-50%, -50%);
  }

  &--weight-loss::after {
    --url-to-vector: url("../../images/icons/stack.svg#cat-slim");
    --cat-width: 36px;
    --cat-height: 50px;
    --vertical-shift: -3px;

    @media #{$on-tablet} {
      --cat-width: 140px;
      --cat-height: 194px;
      --vertical-shift: -11px;
    }

    @media #{$on-desktop} {
      --cat-width: 70px;
      --cat-height: 97px;
      --vertical-shift: -6px;
    }
  }

  &--weight-gain::after {
    --url-to-vector: url("../../images/icons/stack.svg#cat-pro");
    --cat-width: 67px;
    --cat-height: 28px;

    @media #{$on-tablet} {
      --cat-width: 268px;
      --cat-height: 112px;
    }

    @media #{$on-desktop} {
      --cat-width: 134px;
      --cat-height: 56px;
    }
  }
}
