// .goals {

// }

.goals__title {
  margin: 0;
}

.goals__list {
  @include clear-list();
}

.goals__item {
  position: relative;

  background-color: $color-basic_grey;

  &::before {
    content: "";
    outline: auto;
    position: absolute;
    z-index: 10;
    top: 21px;
    left: 20px;
    width: 50px;
    height: 53px;

    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: tomato;
    // radial-gradient(at center, $color-accent 5px, transparent 25px),
  }
}

.goals__description {
  margin: 0;

  color: $color-special_dark-grey;

  @media #{$on-desktop} {
    color: $color-text-strong;
  }
}

.goals__link {
  font-family: $font-family-accent;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-text-strong;

  @media #{$on-tablet-desktop} {
    font-size: 20px;
    line-height: normal;
  }
}
