// .header {

// }

.header__nav-link {
  font-family: $font-family-accent;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-strong;

  @media (min-width: $screen-width-tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $screen-width-desc) {
    font-size: 20px;
    line-height: normal;
  }
}
