.header {
  @media #{$on-tablet} {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media #{$on-desktop} {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header__container {
  position: relative;

  display: flex;
  flex-direction: column;

  &::after {
    content: "";

    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;

    height: 1px;
    background-color: $color-light_grey;
    opacity: 0;

    transition: opacity $transition-basic;
  }

  &:has(.header__nav--is-opened)::after,
  &--with-separator::after {
    @media #{$on-mobile} {
      opacity: 1;
    }
  }

  @media #{$on-tablet-desktop} {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
  }
}

.header__icons-wrapper {
  padding-top: 13px;
  padding-bottom: 15px;
  width: 100%;

  display: grid;
  grid-template-columns: minmax(20%, 1fr) auto minmax(20%, 1fr);
  gap: 13px;
  align-items: center;

  @media #{$on-mobile} {
    position: relative;
    z-index: 2;
    background-color: $color-bg-basic;
  }

  @media #{$on-tablet-desktop} {
    padding-top: 0;
    padding-bottom: 0;
    width: fit-content;

    grid-template-columns: auto auto;
    flex-shrink: 0;

    transition: opacity $transition-basic;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__logo {
  width: fit-content;
  cursor: pointer;
  transition: opacity $transition-basic;

  &:focus-visible {
    outline: 2px solid $color-text-strong;
    outline-offset: 4px;
  }

  @media #{$on-mobile} {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__logo-image {
  display: block;

  &--text {
    @media #{$on-desktop} {
      width: 118px;
      height: 21px;
    }
  }
}

.header__menu-toggle {
  --animation-top-strip: none;
  --animation-bottom-strip: none;

  position: relative;

  padding: 0;
  width: 24px;
  height: 24px;
  border: none;

  display: none;
  justify-self: end;

  background-color: transparent;
  transition: opacity $transition-basic;
  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 2px;

    background-color: $color-text-strong;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &::before {
    transform: translate(-50%, -50%) translateY(-8px);
  }

  &::after {
    transform: translate(-50%, -50%) translateY(8px);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $color-text-strong;
    outline-offset: 4px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &--is-closed {
    &::before {
      animation-name: var(--animation-top-strip);
    }

    &::after {
      animation-name: var(--animation-bottom-strip);
    }

    @media #{$on-mobile} {
      display: block;
    }
  }

  &--is-opened {
    &::before {
      animation-name: top-to-cross;
    }

    &::after {
      animation-name: bottom-to-cross;
    }

    @media #{$on-mobile} {
      display: block;
    }
  }
}

.header__menu-toggle-inner {
  width: 100%;
  height: 2px;
  display: block;

  background-color: $color-text-strong;
  transition: opacity 0s 0.25s;

  .header__menu-toggle--is-opened & {
    opacity: 0;
  }
}

.header__nav {
  @media #{$on-mobile} {
    position: relative;
    width: 100%;

    text-align: center;
    background-color: $color-bg-basic;

    &::after {
      content: "";

      position: absolute;
      z-index: 2;
      top: 0;
      left: calc(0px - var(--side-padding));
      right: calc(0px - var(--side-padding));

      height: 1px;
      background-color: $color-light_grey;
    }

    &--is-opened::after,
    &--is-closed::after {
      display: none;
    }

    &--is-opened,
    &--is-closed {
      position: absolute;
      z-index: 1;
      top: calc(100% + 1px);
      left: 0;
      right: 0;

      padding-left: var(--side-padding);
      padding-right: var(--side-padding);
    }

    &--is-opened {
      transform: translateY(0);
      opacity: 1;

      transition:
        transform $transition-basic,
        opacity $transition-basic,
        visibility 0s;
    }

    &--is-closed {
      transform: translateY(-40px);
      opacity: 0;
      visibility: hidden;

      transition:
        transform $transition-basic,
        opacity $transition-basic,
        visibility 0s $transition-time-basic;
    }
  }

  @media #{$on-tablet-desktop} {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &--shortened {
    @media #{$on-desktop} {
      max-width: 570px;
    }
  }
}

.header__nav-list {
  @include clear-list();

  @media #{$on-tablet-desktop} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 24px 33px;
  }
}

.header__nav-item {
  position: relative;

  padding-top: 21px;
  padding-bottom: 21px;

  @media #{$on-mobile} {
    &::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: calc(0px - var(--side-padding));
      right: calc(0px - var(--side-padding));

      height: 1px;

      background-color: $color-light_grey;
    }
  }

  @media #{$on-tablet-desktop} {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__nav-link {
  margin-left: auto;
  margin-right: auto;

  display: block;
  width: fit-content;
  max-width: 100%;

  font-family: $font-family-accent;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  word-break: break-word;
  color: $color-text-strong;

  cursor: pointer;
  transition: opacity $transition-basic;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $color-text-strong;
    outline-offset: 4px;
  }

  @media #{$on-tablet-desktop} {
    position: relative;

    font-size: 18px;
    text-align: right;
    line-height: 24px;
  }

  @media #{$on-desktop} {
    font-size: 20px;
    line-height: normal;
  }

  &--current::after {
    @media #{$on-tablet-desktop} {
      content: "";

      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      height: 2px;

      background-color: $color-accent;
    }
  }

  &--contrast {
    @media #{$on-desktop} {
      color: $color-bg-basic;
    }
  }

  &--contrast::after {
    @media #{$on-desktop} {
      background-color: $color-bg-basic;
    }
  }
}

@keyframes top-to-cross {
  0% {
    transform: translate(-50%, -50%) translateY(-8px);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%)  rotate(45deg);
  }
}

@keyframes bottom-to-cross {
  0% {
    transform: translate(-50%, -50%) translateY(8px);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%)  rotate(-45deg);
  }
}

@keyframes top-to-burger {
  0% {
    transform: translate(-50%, -50%)  rotate(45deg);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) translateY(-8px);
  }
}

@keyframes bottom-to-burger {
  0% {
    transform: translate(-50%, -50%)  rotate(-45deg);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) translateY(8px);
  }
}
