.header__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-bg-basic;

  @media #{$on-tablet} {
    padding-top: 25px;

    flex-direction: row;
    justify-content: space-between;
    gap: 66px;
  }

  @media #{$on-desktop} {
    padding-top: 55px;

    flex-direction: row;
    justify-content: space-between;
    gap: 66px;

    background-color: transparent;
  }

  &--with-separator {
    @media #{$on-mobile} {
      border-bottom: 1px solid $color-light_grey;
    }
  }
}

.header__icons-container {
  padding-top: 13px;
  padding-bottom: 15px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 33px;
  align-items: center;

  @media #{$on-tablet-desktop} {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    width: fit-content;
    display: flex;
    gap: 13px;
    flex-shrink: 0;

    transition: opacity $transition-basic;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__logo {
  cursor: pointer;
  transition: opacity $transition-basic;

  @media #{$on-mobile} {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }


  &--text img {
    @media #{$on-desktop} {
      width: 118px;
      height: auto;
    }
  }
}

.header__menu-toggle {
  --animation-top-strip: none;
  --animation-bottom-strip: none;

  position: relative;

  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  justify-self: end;

  display: none;

  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 2px;

    background-color: $color-text-strong;

    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &::before {
    transform: translate(-50%, -50%) translateY(-8px);
  }

  &::after {
    transform: translate(-50%, -50%) translateY(8px);
  }

  &--is-closed {
    display: block;

    &::before {
      animation-name: var(--animation-top-strip);
    }

    &::after {
      animation-name: var(--animation-bottom-strip);
    }

    @media #{$on-tablet-desktop} {
      display: none;
    }
  }

  &--is-opened {
    display: block;

    background: transparent;

    &::before {
      animation-name: top-to-cross;
    }

    &::after {
      animation-name: bottom-to-cross;
    }

    @media #{$on-tablet-desktop} {
      display: none;
    }
  }
}

.header__menu-toggle-inner {
  margin-top: auto;
  margin-bottom: auto;

  display: block;
  width: 100%;
  height: 2px;
  background-color: $color-text-strong;
  transition: opacity 0s 0.25s;

  .header__menu-toggle--is-opened & {
    opacity: 0;
  }
}

@keyframes top-to-cross {
  0% {
    transform: translate(-50%, -50%) translateY(-8px);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%)  rotate(45deg);
  }
}

@keyframes bottom-to-cross {
  0% {
    transform: translate(-50%, -50%) translateY(8px);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%)  rotate(-45deg);
  }
}

@keyframes top-to-burger {
  0% {
    transform: translate(-50%, -50%)  rotate(45deg);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) translateY(-8px);
  }
}

@keyframes bottom-to-burger {
  0% {
    transform: translate(-50%, -50%)  rotate(-45deg);
  }

  50% {
    transform: translate(-50%, -50%)  rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) translateY(8px);
  }
}

.header__nav {
  @media #{$on-mobile} {
    width: 100%;

    text-align: center;
    background-color: $color-bg-basic;

    transition:
        transform $transition-basic,
        opacity $transition-basic;
// TODO навигация должна выезжать снизу хедера и уезжать тоже плавно, не работает
    &--is-opened {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      right: 0;

      transform: translateY(0);
      opacity: 1;
    }

    &--is-closed {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      right: 0;

      pointer-events: none;
      transform: translateY(-40px);
      opacity: 0;
    }
  }

  @media #{$on-tablet-desktop} {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media #{$on-desktop} {
    padding-left: 15px;
    max-width: 50%;
  }
}

.header__nav-list {
  @include clear-list();

  position: relative;

  @media #{$on-mobile} {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: calc(0px - var(--side-padding));
      right: calc(0px - var(--side-padding));

      height: 1px;

      background-color: $color-light_grey;
    }
  }

  @media #{$on-tablet-desktop} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 24px 33px;
  }
}

.header__nav-item {
  position: relative;

  padding-top: 21px;
  padding-bottom: 21px;

  @media #{$on-mobile} {
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: calc(0px - var(--side-padding));
      right: calc(0px - var(--side-padding));

      height: 1px;

      background-color: $color-light_grey;
    }
  }

  @media #{$on-tablet-desktop} {
    padding: 0;
  }
}

.header__nav-link {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  display: block;
  width: fit-content;

  font-family: $font-family-accent;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  color: $color-text-strong;

  cursor: pointer;
  transition: opacity $transition-basic;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$on-tablet-desktop} {
    font-size: 18px;
    text-align: right;
    line-height: 24px;
  }

  @media #{$on-desktop} {
    font-size: 20px;
    line-height: normal;
  }

  &--current::after {
    @media #{$on-tablet-desktop} {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      height: 2px;

      background-color: $color-accent;
    }
  }

  &--contrast {
    @media #{$on-desktop} {
      color: $color-bg-basic;
    }
  }

  &--contrast::after {
    @media #{$on-desktop} {
      background-color: $color-bg-basic;
    }
  }
}
