.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -27px;
    bottom: 178px;
    left: 0;
    right: 0;

    background-color: #3f3f43;
    background-image:
      linear-gradient(to bottom, rgba($color-accent, 0.85) 0%, rgba($color-accent, 0.85) 100%),
      image-set(
        url("../../images/cat-hero-320-302@2x.jpg") type("image/jpeg") 1x,
        url("../../images/cat-hero-320-302@2x.jpg") type("image/jpeg") 2x),
      linear-gradient(to bottom, #3f3f43 0%, #3f3f43 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media #{$on-tablet} {
      display: none;
    }

    @media #{$on-desktop} {
      top: 0;
      left: 50%;
      right: 0;
      z-index: -1;

      height: 694px;

      background-image:
        linear-gradient(to bottom, rgba($color-accent, 0.85) 0%, rgba($color-accent, 0.85) 100%),
        image-set(
          url("../../images/cat-hero-1040-694@2x.jpg") type("image/jpeg") 1x,
          url("../../images/cat-hero-1040-694@2x.jpg") type("image/jpeg") 2x),
        linear-gradient(to bottom, #3f3f43 0%, #3f3f43 100%);
      background-position: center left;
      background-size:
        auto,
        min(max(1040px, 100%), 1400px),
        auto;
    }
  }

  @media #{$on-desktop} {
    position: static;
  }
}

.hero__container {
  position: relative;

  display: grid;
  grid-template-areas:
    "title"
    "tagline"
    "picture"
    "link";
  justify-items: center;
  grid-template-columns: 1fr;

  @media #{$on-tablet} {
    grid-template-areas:
      "title"
      "tagline"
      "link"
      "picture";
    justify-items: stretch;

    padding-left: 90px;
    padding-right: 90px;
  }

  @media #{$on-desktop} {
    grid-template-areas:
      "title picture"
      "tagline picture"
      "link picture";
    justify-items: start;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 490px 1fr;

    padding-top: 36px;
    padding-left: 80px;
    align-items: start;

    min-height: 506px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 25px;
  grid-area: title;

  text-align: center;
  word-break: break-word;
  color: $color-bg-basic;

  @media #{$on-tablet-desktop} {
    margin-bottom: 40px;

    text-align: left;
    color: $color-text-strong;
  }
}

.hero__tagline {
  margin-top: 0;
  margin-bottom: 25px;
  grid-area: tagline;

  text-align: center;
  line-height: 18px;
  word-break: break-word;
  color: $color-bg-basic;

  @media #{$on-tablet-desktop} {
    margin-bottom: 45px;

    line-height: 25px;
    text-align: left;
    color: $color-text-strong;
  }
}

.hero__image-container {
  margin-bottom: 3px;

  grid-area: picture;
  justify-self: center;

  @media #{$on-tablet} {
    margin-bottom: 0;
    margin-left: -90px;
    margin-right: -90px;
  }

  @media #{$on-desktop} {
    margin-bottom: 0;

    justify-self: start;
  }
}

.hero__image {
  display: block;

  @media #{$on-tablet} {
    position: relative;
    z-index: -1;
    top: -83px;
  }

  @media #{$on-desktop} {
    position: relative;
    z-index: -1;
    top: -81px;
    left: -120px;
  }
}

.hero__link {
  grid-area: link;

  width: 100%;

  @media #{$on-tablet-desktop} {
    justify-self: start;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 26px;
    padding-left: 26px;
    width: auto;

    font-size: 20px;
    line-height: 26px;
  }
}
