.page__body {
  font-family: $font-family-basic;
  font-size: 14px;
  line-height: 18px;
  color: $color-special_dark-grey;

  background-color: $color-bg-basic;

  @media screen and #{$on-tablet-desktop} {
    font-size: 16px;
    line-height: 24px;
  }
}
