.partnership {
  background-color: $color-bg-basic;
}

.partnership__title {
  margin: 0;

  font-family: $font-family-accent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-special_dark-grey-3;
  text-transform: uppercase;

  @media screen and #{$not-mobile} {
    font-size: 20px;
    line-height: 26px;
  }
}

.partnership__adress {
  font-style: normal;
  line-height: 20px;

  @media screen and #{$tablet-mobile} {
    text-align: right;
  }
}

.partnership__street {
  margin: 0;
}

.partnership__city {
  margin: 0;
}
