.partnership {
  position: relative;
  background-color: $color-bg-basic;
}

.partnership__info {
  padding-top: 26px;
  padding-bottom: 26px;

  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;

  background-color: $color-bg-basic;

  @media #{$on-tablet} {
    padding-top: 61px;
    padding-bottom: 61px;
    padding-left: 70px;
    padding-right: 70px;

    grid-template-columns: 163px 157px;
  }

  @media #{$on-desktop} {
    position: absolute;
    top: 50%;
    left: var(--side-padding);
    transform: translateY(-50%);

    padding-top: 61px;
    padding-bottom: 61px;
    padding-left: 80px;
    padding-right: 80px;
    width: auto;

    grid-template-columns: 163px 157px;
    gap: 81px;
  }
}

.partnership__title {
  margin: 0;

  font-family: $font-family-accent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-special_dark-grey-3;
  text-transform: uppercase;

  @media #{$on-tablet-desktop} {
    font-size: 20px;
    line-height: 26px;
  }
}

.partnership__adress {
  font-style: normal;
  line-height: 20px;

  @media #{$on-tablet} {
    text-align: right;
  }
}

.partnership__street {
  margin: 0;
}

.partnership__city {
  margin: 0;
}

.partnership__map-image {
  display: block;
  width: 100%;
  object-fit: cover;
}
