.program-request {
  @media #{$on-tablet} {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.program-request__title {
  margin-top: 0;
  margin-bottom: 37px;

  @media #{$on-tablet} {
    margin-bottom: 54px;
  }

  @media #{$on-desktop} {
    margin-bottom: 55px;
  }
}

.program-request__tagline {
  margin-top: 0;
  margin-bottom: 39px;

  @media #{$on-tablet-desktop} {
    margin-bottom: 66px;

    line-height: 30px;
  }
}

.program-request__tagline-break {
  &::after {
    content: "\A";

    white-space: pre;
  }
}
