.promo {
  padding-top: 59px;
  padding-bottom: 43px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;

  background-color: $color-accent;
  background-image:
    linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)),
    image-set(
      url("../../images/cat-backpack-280-290@1x.jpg") type("image/jpeg") 1x,
      url("../../images/cat-backpack-280-290@2x.jpg") type("image/jpeg") 2x);
  background-repeat: no-repeat;
  background-position:
    center,
    center;
  background-size:
    cover,
    cover;

  &::before {
    content: "";
    width: 78px;
    height: 80px;

    background-image: url("../../images/icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media #{$on-tablet} {
    padding-top: 57px;
    padding-bottom: 61px;
    padding-left: 77px;
    padding-right: 77px;

    flex-direction: row;
    justify-content: start;
    gap: 264px;

    background-image:
      linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)),
      image-set(
        url("../../images/cat-backpack-707-200@1x.jpg") type("image/jpeg") 1x,
        url("../../images/cat-backpack-707-200@2x.jpg") type("image/jpeg") 2x);
  }

  @media #{$on-desktop} {
    padding-top: 56px;
    padding-bottom: 43px;
    padding-left: 42px;
    padding-right: 42px;

    gap: 46px;

    background-image:
      linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)),
      image-set(
        url("../../images/cat-backpack-245-288@1x.jpg") type("image/jpeg") 1x,
        url("../../images/cat-backpack-245-288@2x.jpg") type("image/jpeg") 2x);
  }
}

.promo__text {
  margin-top: 0;
  margin-bottom: 0;

  width: 161px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $color-bg-basic;
  word-break: word-break;

  @media #{$on-tablet} {
    text-align: left;
  }
}
