// .promo {

// }

.promo__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $screen-width-tablet) and (max-width: calc($screen-width-desc - 1px)) {
    text-align: left;
  }
}
