.promo {
  background-color: $color-accent;
  background-image:
    linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)),
    image-set(
      url("../../images/cat-backpack-280-290@2x.jpg") type("image/jpeg") 1x,
      url("../../images/cat-backpack-280-290@2x.jpg") type("image/jpeg") 2x);
  background-repeat: no-repeat;
  background-position: cover;

  @media #{$on-tablet} {
    background-image:
      linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)),
      image-set(
        url("../../images/cat-backpack-707-200@2x.jpg") type("image/jpeg") 1x,
        url("../../images/cat-backpack-707-200@2x.jpg") type("image/jpeg") 2x);
  }

  @media #{$on-desktop} {
    background-image:
      linear-gradient(rgba($color-accent, 0.85), rgba($color-accent, 0.85)),
      image-set(
        url("../../images/cat-backpack-245-288@2x.jpg") type("image/jpeg") 1x,
        url("../../images/cat-backpack-245-288@2x.jpg") type("image/jpeg") 2x);
  }
}

.promo__text {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  @media #{$on-tablet} {
    text-align: left;
  }
}
