// .slider {

// }

.slider__control {
  position: relative;

  width: 40px;
  height: 40px;
  border: 2px solid $color-special_grey-2;
  border-radius: 50%;

  background-color: $color-bg-basic;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    width: 18px;
    height: 18px;

    background:
      linear-gradient(45deg,
      $color-special_grey-2 33%,
      transparent 33%,
      transparent 66%,
      $color-special_grey-2 66%
    );
  }
}
