.subtitle {
  font-family: $font-family-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-wrap: balance;
  color: $color-text-strong;

  @media (min-width: $screen-width-tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  &--important {
    text-transform: uppercase;
  }
}
