.title {
  font-family: $font-family-accent;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-wrap: balance;
  color: $color-text-strong;

  @media screen and #{$not-mobile} {
    font-size: 60px;
    line-height: 60px;
  }
}
